<% include partials/header.ejs %>

<h1><%= title %></h1>
<a href="/contacts/add">Add a contact</a>
<table class="table table-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Birthday</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <%= contacts.length %>
  <% for (var i=0; i < contacts.length; i++) { %>
    <tr>
      <td><%= contacts[i].firstName %></td>
      <td><%= contacts[i].lastName %></td>
      <td><%= contacts[i].birthday %></td>
      <td><%= contacts[i].phoneNumber %></td>
      <td><%= contacts[i].address %></td>
      <td><%= contacts[i].email %></td>
      <td><a href="/contacts/<%= contacts[i]._id %>">Edit</a></td>
      <td><a href="/contacts/delete/<%= contacts[i]._id %>" class="confirmation">Delete</a></td>
    </tr>
  <% } %>
</table>

<% include partials/footer.ejs %>
